In [1]:
# ----------------------------------------------------------------------------------------
# PROGRAMA: Primera Entrega Spotify
# ----------------------------------------------------------------------------------------
# Descripción: El programa XXXXXXXX
# ----------------------------------------------------------------------------------------
# Autores: Juanita Caballero Villalobos - Daniel Hamilton Smith
# Version: 1.0
# [18.02.2023]
# ----------------------------------------------------------------------------------------

!python --version

zsh:1: command not found: python

In [2]:
# !pip install chardet
!pip3 install pylev

Collecting pylev
  Downloading pylev-1.4.0-py2.py3-none-any.whl (6.1 kB)
Installing collected packages: pylev
Successfully installed pylev-1.4.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [3]:
# ----------------------------------------------------------------------------------------
# IMPORTAR MODULOS
# ----------------------------------------------------------------------------------------
!pip3 install numpy pandas

import numpy as np
import pandas as pd
pd.set_option('mode.chained_assignment', None)

Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (1.24.2)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip

# Datasets

## utils

In [4]:
def load_df_detect_encoding(filename):
    import chardet
    with open(filename, 'rb') as file:
        print(chardet.detect(file.read()))

def replace_nan_by_median(df, column):
    null_cols = len(df[df[column].isnull()])
    if null_cols > 0:
        median = df[column].median()
        print("changed", null_cols, 'to', median)
        df.fillna(median, inplace=True)
    else:
        print('none changed')
        
def clean_and_check_in_range(df, column, min_v, max_v, column_type=None):
    replace_nan_by_median(df, column)
    
    # df = check_is_number(df, column, number_type)
    if column_type:
        df[column] = df[column].astype(column_type)
    # me hace pensar si valdria la pena en vez de revisar si esta dentro del rango
    # marcar esos valores como 'null' y hacerles otro tipo de proceso
    df[column].clip(min_v, max_v, inplace = True)

    unq = df[column].unique()
    
    print('min', min(unq), 'max', max(unq))
    assert max_v >= max(unq)
    assert min_v <= min(unq)
    
    return df[column]

def clean_str_to_list(x):
    return str(x).replace('"','').replace('\'','').replace('[','').replace(']','').replace(', ', ',').split(',')

## Artists

In [5]:
artists_df = pd.read_csv('artists_mod.csv')
artists_df

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0
...,...,...,...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,4831.0,['black comedy'],Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46.0,[],Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257.0,[],Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357.0,['black comedy'],Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40.0,['new comedy'],Gabe Kea,8

In [6]:
artists_df.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object

In [7]:
artists_df.dropna(thresh=len(artists_df.columns)/2, inplace=True)

In [8]:
artists_df

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0
...,...,...,...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,4831.0,['black comedy'],Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46.0,[],Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257.0,[],Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357.0,['black comedy'],Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40.0,['new comedy'],Gabe Kea,8

### id

In [9]:
# no hay ids duplicados
artists_df[artists_df['id'].duplicated()]

Empty DataFrame
Columns: [id, followers, genres, name, popularity]
Index: []

### name

In [10]:
# no hay nombres vacios
artists_df[artists_df['name'] == ""]

artists_df['name'] = artists_df['name'].apply(lambda x: str(x).replace("'", ""))

# artists_df['name']

### id

In [11]:
artists_df['id'] = artists_df['id'].astype(str)

### followers

In [12]:
print(artists_df['followers'].unique())

replace_nan_by_median(artists_df, 'followers')
# only keep rows that dont have nil in the followers column
# artists_df = artists_df[~artists_df['followers'].isnull()]

# this column should be composed only of ints
artists_df['followers'] = artists_df['followers'].astype(int)

# min should be 0
assert 0 <= min(artists_df['followers'].unique())

[0.0000e+00 5.0000e+00 2.0000e+00 ... 1.6967e+04 2.3145e+04 4.8046e+04]
changed 11 to 57.0

### name

In [13]:
artists_df['name'] = artists_df['name'].astype(str)

### popularity

In [14]:
replace_nan_by_median(artists_df, 'popularity')

# this column should be composed only of ints
artists_df['popularity'] = artists_df['popularity'].astype(int)

assert 0 <= min(artists_df['popularity'])

none changed

### genres

In [15]:
# tried at first to copy it into another dataframe, but this proved to be faster
artists_df['genres_list'] = artists_df['genres'].apply(clean_str_to_list)
artists_df['genres_list']

0                      []
1                      []
2                      []
3                      []
4                      []
                ...
1162090    [black comedy]
1162091                []
1162092                []
1162093    [black comedy]
1162094      [new comedy]
Name: genres_list, Length: 1162095, dtype: object

In [16]:
import pylev

# algunos están en español, otros en ingles 
# algunos parecen ser generos, otros instrumentos

def flatten_list_remove_empty(x):
    flat_list = []
    for elem in x:
        for num in elem.split(' '):
            if num and num not in flat_list:
                flat_list += [num]
    return flat_list
        
artists_df['flat_genres_list'] = artists_df['genres_list'].apply(flatten_list_remove_empty)
artists_df['flat_genres_list']

0                       []
1                       []
2                       []
3                       []
4                       []
                ...
1162090    [black, comedy]
1162091                 []
1162092                 []
1162093    [black, comedy]
1162094      [new, comedy]
Name: flat_genres_list, Length: 1162095, dtype: object

In [17]:
artists_df.dtypes

id                  object
followers            int64
genres              object
name                object
popularity           int64
genres_list         object
flat_genres_list    object
dtype: object

## Tracks

In [18]:
# load_df_detect_encoding('tracks_mod.csv')
# if a line generates an error, ignore it
tracks_df = pd.read_csv('tracks_mod.csv', on_bad_lines='warn', encoding= 'latin-1')

tracks_df.dtypes

id                   object
name                 object
popularity          float64
duration_ms           int64
explicit              int64
artists              object
id_artists           object
release_date         object
danceability        float64
energy              float64
key                 float64
loudness            float64
mode                float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature      float64
dtype: object

In [19]:
tracks_df.dtypes

id                   object
name                 object
popularity          float64
duration_ms           int64
explicit              int64
artists              object
id_artists           object
release_date         object
danceability        float64
energy              float64
key                 float64
loudness            float64
mode                float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature      float64
dtype: object

In [20]:
print(tracks_df[tracks_df['id_artists'].isna()])
tracks_df.dropna(thresh=len(tracks_df.columns)/2, inplace=True)

Empty DataFrame
Columns: [id, name, popularity, duration_ms, explicit, artists, id_artists, release_date, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature]
Index: []

### Popularity

In [21]:
# DOCS: The popularity of the album. 
# The value will be between 0 and 100, with 100 being the most popular.

print(tracks_df['popularity'].unique())
tracks_df['popularity'] = clean_and_check_in_range(tracks_df, 'popularity', 0, 100, int)

print(tracks_df['popularity'].unique())

[  6.   0.  nan   1.   4.  41.  30.  28.  27.  26.  25.  23.  22.  20.
  18.  16.  15.  14.  11.  10.   8.   9.   5.   7.   2.  39.  33.  32.
  24.  21.  19.  17.  13.  12.   3.  51.  48.  40.  34.  29.  47.  43.
  37.  35.  31.  55.  38.  50.  42.  36.  65.  53.  45.  49.  44.  52.
  56.  54.  61.  62.  57.  69.  46.  58.  68.  60.  64.  63.  67.  66.
  59.  74.  71.  77.  70.  79.  75.  73.  72.  80.  78.  76.  82.  83.
  84.  81.  86.  85.  87.  90.  88.  89.  94.  92.  97.  96.  95.  93.
  91. 100.  99.  98.]
changed 31544 to 27.0
min 0 max 100
[  6   0  27   1   4  41  30  28  26  25  23  22  20  18  16  15  14  11
  10   8   9   5   7   2  39  33  32  24  21  19  17  13  12   3  51  48
  40  34  29  47  43  37  35  31  55  38  50  42  36  65  53  45  49  44
  52  56  54  61  62  57  69  46  58  68  60  64  63  67  66  59  74  71
  77  70  79  75  73  72  80  78  76  82  83  84  81  86  85  87  90  88
  89  94  92  97  96  95  93  91 100  99  98]

### duration_ms

In [22]:
# DOCS: The duration of the track in milliseconds.

tracks_df['duration_ms'] = tracks_df['duration_ms'].astype(int)
replace_nan_by_median(tracks_df, 'duration_ms')
tracks_df['duration_ms']

none changed

0         126903
1          98200
2         181640
3         176907
4         163080
           ...
586667    258267
586668    153293
586669    187601
586670    142003
586671    214360
Name: duration_ms, Length: 586672, dtype: int64

### explicit

In [23]:
# DOCS: Whether or not the track has explicit lyrics ( true = yes it does; false = no it does not OR unknown).
print(tracks_df['explicit'].unique())
tracks_df['explicit'][tracks_df['explicit'] == -1 ] = 0
print(tracks_df['explicit'].unique())

[ 0 -1  1]
[0 1]

### artist id_artist

In [24]:
def clean_artists(artists, ids):
    return list(zip(clean_str_to_list(artists), clean_str_to_list(ids)))

# if 'artists' in tracks_df.columns and 'id_artists' in tracks_df.columns:
tracks_df['artists_list'] = tracks_df.apply(lambda x: clean_artists(x.artists, x.id_artists), axis=1)
# tracks_df.drop(columns=['artists', 'id_artists'], inplace=True)
tracks_df

tracks_df['artists_list']

0                           [(Uli, 45tIt06XoI0Iio4LBEVpls)]
1               [(Fernando Pessoa, 14jtPCOoNZwquk5wd9DxrY)]
2               [(Ignacio Corsini, 5LiOoJbxVSAMkBS2fUm3X2)]
3               [(Ignacio Corsini, 5LiOoJbxVSAMkBS2fUm3X2)]
4                   [(Dick Haymes, 3BiJGZsyX9sJchTqcSA7Su)]
                                ...
586667                [(é¿YueYue, 1QLBXKM5GCpyQQSVMNZqrZ)]
586668               [(ROLE MODEL, 1dy5WNgIKQU6ezkpZs4y8z)]
586669                  [(FINNEAS, 37M5pPGs6V1fchFJSgCguX)]
586670    [(Gentle Bones, 4jGPdu95icCKVF31CcFKbS), (Clar...
586671                [(Afrosound, 0i4Qda0k4nf7jnNHmSNpYv)]
Name: artists_list, Length: 586672, dtype: object

### release date

In [25]:
from datetime import datetime
import re

def check_format(x, format):
    try:
        return datetime.strptime(x, format)
    except:
        return None

def fix_date(datestr):
    if isinstance(datestr, datetime):
        return datestr
    
    datestr = "".join([ele for ele in str(datestr) if ele.isdigit() or ele == '-' ])
    if date := check_format(datestr, "%Y-%m-%d"):
        pass
    elif date:= check_format(datestr, "%Y-%m"):
        pass
    elif date:= check_format(datestr, "%Y"):
        pass

    return date

tracks_df['release_date'] = tracks_df["release_date"].apply(fix_date)
tracks_df['release_date']

0        1922-02-22
1        1922-06-01
2        1922-03-21
3        1922-03-21
4        1922-01-01
            ...
586667   2020-09-26
586668   2020-10-21
586669   2020-09-02
586670   2021-03-05
586671   2015-07-01
Name: release_date, Length: 586672, dtype: datetime64[ns]

### danceability

In [26]:
# DOCS: Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. 
# A value of 0.0 is least danceable and 1.0 is most danceable.

tracks_df['danceability'] = clean_and_check_in_range(tracks_df, 'danceability', 0, 1)

tracks_df['danceability']

none changed
min 0.0 max 1.0

0         0.645
1         0.695
2         0.434
3         0.321
4         0.402
          ...
586667    0.560
586668    0.765
586669    0.535
586670    0.696
586671    0.686
Name: danceability, Length: 586672, dtype: float64

### energy

In [27]:
# DOCS: Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity.

tracks_df['energy'] = clean_and_check_in_range(tracks_df, 'energy', 0, 1)

tracks_df['energy']

none changed
min 0.0 max 1.0

0         0.445
1         0.263
2         0.177
3         1.000
4         0.158
          ...
586667    0.518
586668    0.663
586669    0.314
586670    0.615
586671    0.723
Name: energy, Length: 586672, dtype: float64

### key

In [28]:
# DOCS: The key the track is in. Integers map to pitches using standard Pitch Class notation. E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1.
# >= -1<= 11

tracks_df['key'] = clean_and_check_in_range(tracks_df, 'key', -1, 11)

tracks_df['key']

none changed
min 0.0 max 11.0

0          0.0
1          0.0
2          1.0
3          7.0
4          3.0
          ...
586667     0.0
586668     0.0
586669     7.0
586670    10.0
586671     6.0
Name: key, Length: 586672, dtype: float64

### Loudness

In [29]:
# DOCS: Values typically range between -60 and 0 db.

tracks_df['loudness'] = clean_and_check_in_range(tracks_df, 'loudness', -60, 0)

tracks_df['loudness']

none changed
min -60.0 max 0.0

0        -13.338
1        -22.136
2        -21.180
3        -27.961
4        -16.900
           ...
586667    -7.471
586668    -5.223
586669   -12.823
586670    -6.212
586671    -7.067
Name: loudness, Length: 586672, dtype: float64

### mode

In [30]:
# DOCS: Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. 
# Major is represented by 1 and minor is 0.

print(tracks_df['mode'].unique())

def mode_type_from_mode(x):
    if x == 0:
        ret = "minor"  
    else:
        ret = "mayor"
    return ret

tracks_df['mode'] = tracks_df['mode'].apply(lambda x: 0 if x == 0 else 1)
tracks_df['mode_type'] = tracks_df['mode'].apply(mode_type_from_mode)

print(tracks_df['mode'].unique())

tracks_df['mode_type']

[ 1.  0. 27.]
[1 0]

0         mayor
1         mayor
2         mayor
3         mayor
4         minor
          ...
586667    minor
586668    mayor
586669    minor
586670    mayor
586671    mayor
Name: mode_type, Length: 586672, dtype: object

### speechiness

In [31]:
# DOCS: Speechiness detects the presence of spoken words in a track. 
# The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), 
# the closer to 1.0 the attribute value. 
# Values above 0.66 describe tracks that are probably made entirely of spoken words. 
# Values between 0.33 and 0.66 describe tracks that may contain both music and speech, 
# either in sections or layered, including such cases as rap music. 
# Values below 0.33 most likely represent music and other non-speech-like tracks.

def check_track_type_by_speechiness(x):
    tp = ''
    if x < 0.33: 
        tp = 'music'
    elif 0.33 < x:
        tp = 'mixed'
    elif 0.66 < x:
        tp = 'speech'
    return tp

tracks_df['speechiness'] = clean_and_check_in_range(tracks_df, 'speechiness', 0, 1)

tracks_df['track_type'] = tracks_df['speechiness'].apply(check_track_type_by_speechiness)
tracks_df['track_type']

none changed
min 0.0 max 1.0

0         mixed
1         mixed
2         music
3         music
4         music
          ...
586667    music
586668    music
586669    music
586670    music
586671    music
Name: track_type, Length: 586672, dtype: object

### acousticness

In [32]:
# DOCS: A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 
# 1.0 represents high confidence the track is acoustic.

tracks_df['acousticness'] = clean_and_check_in_range(tracks_df, 'acousticness', 0, 1)

tracks_df['acousticness']

none changed
min 0.0 max 1.0

0         0.674
1         0.797
2         0.994
3         0.995
4         0.989
          ...
586667    0.785
586668    0.141
586669    0.895
586670    0.206
586671    0.105
Name: acousticness, Length: 586672, dtype: float64

### instrumentalness

In [33]:
# Predicts whether a track contains no vocals. 
# "Ooh" and "aah" sounds are treated as instrumental in this context. 
# Rap or spoken word tracks are clearly "vocal". 
# The closer the instrumentalness value is to 1.0, 
# the greater likelihood the track contains no vocal content. 
# Values above 0.5 are intended to represent instrumental tracks, 
# but confidence is higher as the value approaches 1.0.

def check_track_type_by_instrumentalness(x):
    tp = ''
    if 0.5 < x:
        tp = 'instrumental'
    else:
        tp = 'vocal'
    return tp

tracks_df['instrumentalness'] = clean_and_check_in_range(tracks_df, 'instrumentalness', 0, 1)

tracks_df['instrumental_type'] = tracks_df['instrumentalness'].apply(check_track_type_by_instrumentalness)
tracks_df['instrumental_type']

none changed
min 0.0 max 1.0

0         instrumental
1                vocal
2                vocal
3         instrumental
4                vocal
              ...
586667           vocal
586668           vocal
586669           vocal
586670           vocal
586671           vocal
Name: instrumental_type, Length: 586672, dtype: object

### liveness

In [34]:
# DOCS: Detects the presence of an audience in the recording. 
# Higher liveness values represent an increased probability that the track 
# was performed live. A value above 0.8 provides strong likelihood that the track is live.

def check_track_type_by_liveness(x):
    tp = ''
    if 0.8 < x:
        tp = 'live'
    else:
        tp = 'recorded'
    return tp

tracks_df['liveness'] = clean_and_check_in_range(tracks_df, 'liveness', 0, 1)

tracks_df['live_type'] = tracks_df['liveness'].apply(check_track_type_by_instrumentalness)
tracks_df['live_type']

none changed
min 0.0 max 1.0

0         vocal
1         vocal
2         vocal
3         vocal
4         vocal
          ...
586667    vocal
586668    vocal
586669    vocal
586670    vocal
586671    vocal
Name: live_type, Length: 586672, dtype: object

### valence

In [35]:
# DOCS: A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. 
# Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), 
# while tracks with low valence sound more negative (e.g. sad, depressed, angry).

def check_track_type_by_valence(x):
    tp = ''
    if 0.5 < x:
        tp = 'positive'
    else:
        tp = 'negative'
    return tp

tracks_df['valence'] = clean_and_check_in_range(tracks_df, 'valence', 0, 1)

tracks_df['valence_type'] = tracks_df['valence'].apply(check_track_type_by_valence)
tracks_df['valence_type']

none changed
min 0.0 max 1.0

0         negative
1         positive
2         negative
3         negative
4         negative
            ...
586667    negative
586668    positive
586669    positive
586670    negative
586671    positive
Name: valence_type, Length: 586672, dtype: object

### tempo

In [36]:
# The overall estimated tempo of a track in beats per minute (BPM). 
# In musical terminology, tempo is the speed or pace of a given piece and 
# derives directly from the average beat duration.
# FLOAT

tracks_df['tempo'] = tracks_df['tempo'].astype(float)

tracks_df['tempo']

0         104.851
1         102.009
2         130.418
3         169.980
4         103.220
           ...
586667    131.896
586668    150.091
586669    145.095
586670     90.029
586671    112.204
Name: tempo, Length: 586672, dtype: float64

### time_signature

In [37]:
# DOCS: An estimated time signature. The time signature (meter) is a 
# notational convention to specify how many beats are in each bar (or measure). 
# The time signature ranges from 3 to 7 indicating time signatures of "3/4", to "7/4".

print(tracks_df['time_signature'].unique())
tracks_df['time_signature'] = clean_and_check_in_range(tracks_df, 'time_signature', 3, 7, int)

print(tracks_df['time_signature'].unique())

tracks_df['time_signature']

[ 3.  1.  5.  4. 27.  0.]
none changed
min 3 max 7
[3 5 4 7]

0         3
1         3
2         5
3         3
4         4
         ..
586667    4
586668    4
586669    4
586670    4
586671    4
Name: time_signature, Length: 586672, dtype: int64

# EDA

In [38]:
"""
genres_list = []
    
for a in artists_df.nlargest(100, 'popularity')['flat_genres_list']: # .apply(aaaa)
    for b in a:
        if b not in genres_list:
            genres_list += [b]
genres_list.sort()
genres_list
"""

"\ngenres_list = []\n    \nfor a in artists_df.nlargest(100, 'popularity')['flat_genres_list']: # .apply(aaaa)\n    for b in a:\n        if b not in genres_list:\n            genres_list += [b]\ngenres_list.sort()\ngenres_list\n"

In [39]:
""" 
for a in artists_df['flat_genres_list']: # .apply(aaaa)
    for b in a:
        if b not in genres_list:
            genres_list += [b]

genres_list.sort()
genres_counter = list(np.full_like(genres_list, 0, dtype=int))
# print(genres_list, genres_counter)

def loquesea(fgl, popu):
    for i in range(len(genres_)):
        if genres_[i] in fgl:
            genres_counter[i] += int(popu)

artists_df[artists_df['flat_genres_list'].apply(comp_genres)].apply(lambda x: loquesea(x.flat_genres_list, x.popularity), axis=1)

ll = list(zip(genres_list, genres_counter))


print(ll[:10])

sorted(ll, key=lambda x: x[1])

print(ll[0:10])

fig, ax = plt.subplots()

ax.set_ylabel('popularity')
ax.set_xlabel('genre')
# ax.set_title('Fruit supply by kind and color')

genres_x = []
genres_y = []
for i in range(10):
    genres_x += ll[0]
    genres_y += ll[1]

ax.bar(genres_x, genres_y, color=np.random.rand(len(genres_x),3))
"""

" \nfor a in artists_df['flat_genres_list']: # .apply(aaaa)\n    for b in a:\n        if b not in genres_list:\n            genres_list += [b]\n\ngenres_list.sort()\ngenres_counter = list(np.full_like(genres_list, 0, dtype=int))\n# print(genres_list, genres_counter)\n\ndef loquesea(fgl, popu):\n    for i in range(len(genres_)):\n        if genres_[i] in fgl:\n            genres_counter[i] += int(popu)\n\nartists_df[artists_df['flat_genres_list'].apply(comp_genres)].apply(lambda x: loquesea(x.flat_genres_list, x.popularity), axis=1)\n\nll = list(zip(genres_list, genres_counter))\n\n\nprint(ll[:10])\n\nsorted(ll, key=lambda x: x[1])\n\nprint(ll[0:10])\n\nfig, ax = plt.subplots()\n\nax.set_ylabel('popularity')\nax.set_xlabel('genre')\n# ax.set_title('Fruit supply by kind and color')\n\ngenres_x = []\ngenres_y = []\nfor i in range(10):\n    genres_x += ll[0]\n    genres_y += ll[1]\n\nax.bar(genres_x, genres_y, color=np.random.rand(len(genres_x),3))\n"

In [40]:
"""
genres_list = ['rock', 'pop', 'hip', 'rap', 'k-pop', 'reggaeton', 'trap', 'electro']
genres_list.sort()
genres_counter = list(np.full_like(genres_list, 0, dtype=int))
print(genres_list, genres_counter)

def comp(list1, list2):
    for val in list1:
        if val in list2:
            return True
    return False

def comp_genres(x):
    return comp(x, genres_list)


def loquesea(fgl, popu):
    for i in range(len(genres_)):
        if genres_[i] in fgl:
            genres_counter[i] += int(popu)

artists_df[artists_df['flat_genres_list'].apply(comp_genres)].apply(lambda x: loquesea(x.flat_genres_list, x.popularity), axis=1)

print(genres_counter)

fig, ax = plt.subplots()

ax.set_ylabel('popularity')
ax.set_xlabel('genre')
# ax.set_title('Fruit supply by kind and color')

ax.bar(genres_list, genres_counter, color=np.random.rand(len(genres_list),3))
"""

"\ngenres_list = ['rock', 'pop', 'hip', 'rap', 'k-pop', 'reggaeton', 'trap', 'electro']\ngenres_list.sort()\ngenres_counter = list(np.full_like(genres_list, 0, dtype=int))\nprint(genres_list, genres_counter)\n\ndef comp(list1, list2):\n    for val in list1:\n        if val in list2:\n            return True\n    return False\n\ndef comp_genres(x):\n    return comp(x, genres_list)\n\n\ndef loquesea(fgl, popu):\n    for i in range(len(genres_)):\n        if genres_[i] in fgl:\n            genres_counter[i] += int(popu)\n\nartists_df[artists_df['flat_genres_list'].apply(comp_genres)].apply(lambda x: loquesea(x.flat_genres_list, x.popularity), axis=1)\n\nprint(genres_counter)\n\nfig, ax = plt.subplots()\n\nax.set_ylabel('popularity')\nax.set_xlabel('genre')\n# ax.set_title('Fruit supply by kind and color')\n\nax.bar(genres_list, genres_counter, color=np.random.rand(len(genres_list),3))\n"

In [41]:
"""
top10_genere = artists_df.nlargest(10, 'popularity')
top10_genere
"""

"\ntop10_genere = artists_df.nlargest(10, 'popularity')\ntop10_genere\n"

# Postgres

## Connection

In [42]:
!pip3 install psycopg2-binary
!pip3 install sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp311-cp311-macosx_11_0_arm64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 7.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.8-cp311-cp311-macosx_11_0_arm64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 6.7 MB/s eta 0:00:0000:0100:01
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Installing collected packages: typing-extensions, sqlalchemy
Successfully installed sqlalchemy-2.0.8 typing-extensions-4.5.0

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip

## DB

In [43]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import insert

engine = create_engine("postgresql+psycopg2://postgresgd:Password@localhost:5432/postgresgd")
engine.fast_executemany = True

In [44]:
from typing import List
from typing import Optional
from sqlalchemy import ForeignKey
from sqlalchemy import String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
from sqlalchemy import Column, Integer, DateTime

import datetime

class Base(DeclarativeBase):
    pass

class Artists(Base):
    __tablename__ = "artists"
                
    id: Mapped[str] = mapped_column(primary_key=True)
    followers: Mapped[int]
    name: Mapped[str]  # = mapped_column(String(100))
    popularity: Mapped[int]
    

class Genres(Base):
    __tablename__ = "genres"
    
    id: Mapped[int] = mapped_column(primary_key=True) 
    name: Mapped[str] = mapped_column(unique=True)# = mapped_column(String(30))

class ArtistGenres(Base):
    __tablename__ = "artist_genres"
    artist_id: Mapped[str] = mapped_column(ForeignKey("artists.id"), primary_key=True)
    
    genre_id: Mapped[int] = mapped_column(ForeignKey("genres.id"), primary_key=True)
    
    artist: Mapped["Artist"] = relationship(cascade="all, delete")
    genre: Mapped["Genre"] = relationship(cascade="all, delete")
    
class Tracks(Base):
    __tablename__ = "tracks"
    
    id: Mapped[str] = mapped_column(primary_key=True)
    name: Mapped[str] # = mapped_column(String(100))
    popularity: Mapped[int]
    duration_ms: Mapped[int]
    explicit: Mapped[int]
    # artists                      object
    # id_artists                   object
    release_date = Column(DateTime, default=datetime.datetime.utcnow)
    danceability: Mapped[float]
    energy: Mapped[float]
    key: Mapped[float]
    loudness: Mapped[float]
    mode: Mapped[int]
    
    speechiness: Mapped[float]
    acousticness: Mapped[float]
    instrumentalness: Mapped[float]
    liveness: Mapped[float]
    valence: Mapped[float]
    tempo: Mapped[float]
    time_signature: Mapped[int]
    
    mode_type: Mapped[str]
    track_type: Mapped[str]
    instrumental_type: Mapped[str]
    live_type: Mapped[str]
    valence_type: Mapped[str]
    
class ArtistsTracks(Base):
    __tablename__ = "artist_tracks"
    artist_id: Mapped[str] = mapped_column(ForeignKey("artists.id"), primary_key=True)
    track_id: Mapped[int] = mapped_column(ForeignKey("tracks.id"), primary_key=True)
    
    
    artist: Mapped["Artist"] = relationship(cascade="all, delete")
    track: Mapped["Track"] = relationship(cascade="all, delete")

In [47]:
ArtistGenres.__table__.drop(engine)
ArtistsTracks.__table__.drop(engine)
Tracks.__table__.drop(engine)
Genres.__table__.drop(engine)
Artists.__table__.drop(engine)

In [48]:
Artists.__table__.create(engine)
Genres.__table__.create(engine)
ArtistGenres.__table__.create(engine)
Tracks.__table__.create(engine)
ArtistsTracks.__table__.create(engine)

In [49]:
# artists_df[["id","followers","name","popularity"]].head(10000).to_sql(
artists_df[["id","followers","name","popularity"]].to_sql(
    name='artists', 
    con=engine, 
    # if_exists= 'replace', 
    if_exists='append',
    method='multi',
    index=False,
    chunksize=1000
)

1162095

In [50]:
tracks_df[[
    "id",
    "name",
    "popularity",
    "duration_ms",
    "explicit",
    "release_date",
    "danceability",
    "energy",
    "key",
    "loudness",
    "mode",
    "speechiness",
    "acousticness",
    "instrumentalness",
    "liveness",
    "valence",
    "tempo",
    "time_signature",
    "mode_type",
    "track_type",
    "instrumental_type",
    "live_type",
    "valence_type"
# ]].head(10000).to_sql(
]].to_sql(
    name='tracks', 
    con=engine, 
    # if_exists= 'replace', 
    if_exists='append',
    method='multi',
    index=False,
    chunksize=1000
)

586672

In [51]:
from sqlalchemy import insert

with engine.connect() as conn:    
    def process_track_id_artists_id(track_id, artists_list):
        # print(track_id, artists_list)
        for artist in artists_list:
            
            a_id = artist[1]
            try:
                stmt = insert(ArtistsTracks).values(artist_id=a_id, track_id=track_id)
                # print(stmt)
                result = conn.execute(stmt)
                conn.commit()
                # print(result)
            except Exception as e: 
                conn.rollback()
                if "is not present in table" not in str(e): 
                    print(e)
                


    # tracks_df.head(500).apply(lambda x: process_track_id_artists_id(x.id, x.artists_list), axis=1)
    tracks_df.apply(lambda x: process_track_id_artists_id(x.id, x.artists_list), axis=1)

In [52]:
from sqlalchemy import insert

genres_count = {}
def add_to_genres_count(genres_list, artist_id):
    for genre in genres_list:
        if genre in genres_count.keys():
            genres_count[genre] += 1 
        else:
            genres_count[genre] = 1

artists_df.apply(lambda x: add_to_genres_count(x.flat_genres_list, x.id), axis=1)
genres_count

# faster than reading the database each time, and not large enough to be a problem
try:
    thevariable
except NameError:
    print("creating inserted_genres")
    inserted_genres = {}
else:
    print("inserted_genres already created")

with engine.connect() as conn:    
    for genre in genres_count.keys(): 
        try:
            stmt = insert(Genres).values(name=genre)
            # print(stmt)
            result = conn.execute(stmt)
            conn.commit()
            
            inserted_key = result.inserted_primary_key
            inserted_genres[genre] = inserted_key[0]
        except Exception as e: 
            conn.rollback()

  
    def process_genres_list(artist_id, genres_list):
        # print(track_id, artists_list)
        for genre in genres_list:
            try:
                stmt = insert(ArtistGenres).values(artist_id=artist_id, genre_id=inserted_genres[genre])
                result = conn.execute(stmt)
                conn.commit()
                # print(result)
            except Exception as e: 
                conn.rollback()
                if "is not present in table" not in str(e): 
                    print(e)
                
    # artists_df.head(500).apply(lambda x: process_genres_list(x.id, x.flat_genres_list), axis=1)
    artists_df.apply(lambda x: process_genres_list(x.id, x.flat_genres_list), axis=1)

creating inserted_genres

## load

In [53]:
import pandas as pd

def load_sql_table(name: str, engine):
    with engine.connect() as conn: 
        return pd.read_sql_table(name, conn)
   
artistsDf = load_sql_table(Artists.__tablename__, engine)
genresDf = load_sql_table(Genres.__tablename__, engine)
tracksDf = load_sql_table(Tracks.__tablename__, engine)
artistsGenresDf = load_sql_table(ArtistGenres.__tablename__, engine)
artistsTracksDf = load_sql_table(ArtistsTracks.__tablename__, engine)

In [54]:
artistsDf

,id,followers,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0,Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5,ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0,Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0,Tragruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2,Ioannis Panoutsopoulos,0
...,...,...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,4831,Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46,Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257,Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357,Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40,Gabe Kea,8

In [55]:
genresDf

        id       name
0        1   carnaval
1        2      cadiz
2        3  classical
3        4       harp
4        5  contralto
...    ...        ...
2714  2715   gayageum
2715  2716  bhutanese
2716  2717    puntana
2717  2718    chapman
2718  2719      stick

[2719 rows x 2 columns]

In [56]:
tracksDf[tracksDf['name'].str.contains('ella')]

,id,name,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,...,liveness,valence,tempo,time_signature,mode_type,track_type,instrumental_type,live_type,valence_type,release_date
27,15BEv0mKGqHHxyDAcLJ7ei,En la Huella del Querer - Remasterizado,0,150160,0,0.373,0.176,4.0,-22.045,1,...,1.0000,0.383,106.595,3,mayor,music,instrumental,instrumental,negative,1922-03-29
817,2WDGzPL4w6MYUoC7MLBcdC,Huella,0,196051,0,1.000,0.035,11.0,-26.118,1,...,0.1080,0.157,105.842,3,mayor,music,instrumental,vocal,negative,1924-01-01
1003,5ixjL1GSioVd8lGNkLwYDM,Say Arabella - What's A Fella To Do,0,176107,0,0.778,0.380,7.0,-12.082,1,...,0.0922,0.963,107.463,4,mayor,music,vocal,vocal,positive,1924-01-01
1177,5Nzd6zrlxV5rA0xzn7qIUN,Cinderella Brown,5,210613,0,0.799,0.409,3.0,-10.617,1,...,0.3310,0.880,88.614,4,mayor,music,vocal,vocal,positive,1925-01-01
1249,0lATdfQAizjfZqZdTdcbGp,Hella Often Freestyle,0,822857,0,0.678,0.835,0.0,-11.909,1,...,0.1480,0.162,140.005,4,mayor,music,vocal,vocal,negative,1925-11-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584134,1NrNfc4bAhQzEilLevSSqV,Mellan han & hon,41,199519,0,0.907,0.316,11.0,-6.772,0,...,0.1060,0.795,117.968,4,minor,music,vocal,vocal,positive,2015-08-20
584382,1iDf4IMFtfMQOYNtiRzoJu,Constellation Prize,40,181187,0,0.551,0.869,11.0,-4.002,1,...,0.2240,0.575,99.935,4,mayor,music,vocal,vocal,positive,2016-02-28
585124,6n0CUGAGLTicpW4QXARfNL,Gabriellas sÃ¥ng - SÃ¥ mycket bÃ¤ttre 2020,51,174640,0,0.543,0.632,2.0,-6.644,1,...,0.1740,0.676,123.954,4,mayor,music,vocal,vocal,positive,2020-12-19
585699,3RRR4mBySzKJCEZHxMIEm5,"I Will Wait For You - From ""The Umbrellas Of C...",27,141000,0,0.294,0.306,2.0,-14.231,0,...,0.0985,0.291,62.417,4,minor,music,vocal,vocal,negative,1968-03-02
586262,2WehaEyCyV0Z2MySkrATrd,"Introduction and Tarantella, Op. 43",34,315640,0,0.480,0.122,7.0,-18.574,1,...,0.1290,0.437,105.798,4,mayor,music,vocal,vocal,negative,1998-01-01

In [57]:
artistsGenresDf

                     artist_id  genre_id
0       0VLMVnVbJyJ4oyZs2L3Yl2         1
1       0VLMVnVbJyJ4oyZs2L3Yl2         2
2       0dt23bs4w8zx154C5xdVyl         1
3       0dt23bs4w8zx154C5xdVyl         2
4       0pGhoB99qpEJEsBQxgaskQ         1
...                        ...       ...
843811  3cOzi726Iav1toV2LRVEjp        58
843812  5nvjpU3Y7L6Hpe54QuvDjy       455
843813  5nvjpU3Y7L6Hpe54QuvDjy        58
843814  2bP2cNhNBdKXHC6AnqgyVp        31
843815  2bP2cNhNBdKXHC6AnqgyVp        58

[843816 rows x 2 columns]

In [58]:
artistsTracksDf

                     artist_id                track_id
0       45tIt06XoI0Iio4LBEVpls  35iwgR4jXetI318WEWsa1Q
1       14jtPCOoNZwquk5wd9DxrY  021ht4sdgPcrDgSk7JTbKY
2       5LiOoJbxVSAMkBS2fUm3X2  07A5yehtSnoedViJAZkNnc
3       5LiOoJbxVSAMkBS2fUm3X2  08FmqUhxtyLTn6pAh6bk45
4       3BiJGZsyX9sJchTqcSA7Su  08y9GfoqCWfOGsKdwojr5e
...                        ...                     ...
730941  1dy5WNgIKQU6ezkpZs4y8z  0NuWgxEp51CutD2pJoF4OM
730942  37M5pPGs6V1fchFJSgCguX  27Y1N4Q4U3EfDU5Ubw8ws2
730943  4jGPdu95icCKVF31CcFKbS  45XJsGpFTyzbzeWK8VzR8S
730944  5ebPSE9YI5aLeZ1Z2gkqjn  45XJsGpFTyzbzeWK8VzR8S
730945  0i4Qda0k4nf7jnNHmSNpYv  5Ocn6dZ3BJFPWh4ylwFXtn

[730946 rows x 2 columns]